pwm:
  lookup:
    ### PWM Config ###
    pwm_email: pwm@example.com
    environment_name: PWM
    config_bucket: s3-bucket

    ### OSTicket INTEGRATION CONFIG ###
    enable_ost_integration: 1
    ost_url: https://osticket.example.com
    ost_api_key: PUTyourAPIkeyHERE

    ### AWS SES INTEGRATION CONFIG ###
    ses_servers_and_ports:
        email-smtp.us-east-1.amazonaws.com:
            - 25
            - 587
        email-smtp.us-west-2.amazonaws.com:
            - 25
            - 587
    ses_akid: PUTyourAKIDhere
    ses_secret_key: PUTyourSECRETkeyHERE
